body{
	background-color: ghostwhite;
	font-family: 'Noto Sans', sans-serif;
}


header{
	background-color: rgba(187, 212, 208, 0.8);
	color: #546e7a;
}

p{
	display: inline-block;
}

.title{
	margin-left: 510px;
}

textarea.mi-input{
	padding: 0;
}

#comentarios {
    background-color: #546e7a;
    margin-left: 10px;
    width: 172px;
    color: white;
}

.caja-contenedora{
	    height: 459px;
}

.btn-mio{
    margin-left: 300px;
    bottom: 20px;
}

.completed{
	border-top: 1px solid rgba(160,160,160,0.2);
   	text-align: left;
   	margin-top: 116px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 1;
}
